body {
  margin: 1.3em;
  border: none;
  padding: 1.5em;
}

.myContainer {
  background: radial-gradient(red 60%, gray 30%, black 10%);
}

.container {
  padding: 1.3em;
  background: linear-gradient(darkgrey, white);
}

.myPanel {
  padding: 1em;
}

.jumbotron h1 {
  text-align: center;
  text-shadow: 2px 2px 2px gray;
}

.output {
  color: red;
}

.myNumberFormat {
  font-size: 1.5em;
}

#results {
  display: none;
}
